<form class="example-form">
  <p>
    <button mat-flat-button  color="primary">
      <fa-icon [icon]="faPause"></fa-icon>
      Pause/Resume
    </button>
  </p>

  <mat-form-field class="example-full-width">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option>
        All
      </mat-option>
      <mat-option value="Famille">
        Famille
      </mat-option>
      <mat-option value="Fantasy">
        Fantasy
      </mat-option>
      <mat-option value="Abstract">
        Abstract
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
