<form class="example-form">
  <p>
    <button *ngIf="!model.paused" (click)="setPaused(true)" mat-flat-button color="primary">
      <fa-icon [icon]="faPause"></fa-icon>
      Pause
    </button>
    <button *ngIf="model.paused" (click)="setPaused(false)" mat-flat-button color="primary">
      <fa-icon [icon]="faPlay"></fa-icon>
      Resume
    </button>
  </p>

  <mat-form-field class="example-full-width">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory" (selectionChange)="subDirectoryChanged($event)" >
      <mat-option *ngFor="let sub of model.subDirectories" [value]="sub.value">{{sub.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
