<p>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>weekend</mat-icon>
    </button>
    <span>Photo Frame Remote</span>
  </mat-toolbar>
</p>

<!-- <mat-form-field appearance="fill">
  <mat-label>Category</mat-label>
  <mat-slide-toggle>Running</mat-slide-toggle>
</mat-form-field> -->

<mat-slide-toggle>Running</mat-slide-toggle>

<mat-form-field appearance="fill">
  <mat-label>Category</mat-label>
  <mat-select>
    <mat-option>
      Famille
    </mat-option>
    <mat-option>
      Fantasy
    </mat-option>
    <mat-option>
      Abstract
    </mat-option>
  </mat-select>
</mat-form-field>